body{
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;

}

.header{
  display: flex;
  height:69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  position:fixed;
  top: 0;
  background-color: black;


}

.logo img{
  height: 50px;
  padding-left: 10px;
}

nav{
  flex-grow: 1;
  text-align: right;
}

a{
  color: seashell;
}

nav span{
  display: inline-block;
  text-decoration: underline;
  padding-right: 30px;

}
.container{
  padding-top: 63px;
  margin: 0 auto;
  width: 1200px;
}

.main_image{
  background-image: url(../../resources/images/6img-mission-background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.our_mission{
  display: block;
  width: 1200px;
  margin: 0;
  background-color: black;
}

h2{

}

h4{

}

.featured_tea{
  padding-top: 100px;
  width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.tea_items{
  display: flex;
  justify-content: space-around;
}

.tea_items_2{
  display: flex;
justify-content: center;
  margin-top: 20px;
}

.tea_images img{
display: block;
width: 300px;
height: 200px;
}

.texts{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
